<p> Purchase successful. </p>
<p> TODO:  <%= @purchase.inspect %></p>

<p> And <a href="https://s3.amazonaws.com/one-month-stripe-alo/The+Difference+Between+Living+in+New+York+and+San+Francisco%C2%A0%7C%C2%A0Sarah+Cooper.pdf" target="_none">this is your file.</a></p>