<!-- This is going to be the email we send in developmetn to say thank you and here's your email receipt for your purchase -->

<p>Thanks for buying.</p>

<a href="https://s3.amazonaws.com/one-month-stripe-alo/The+Difference+Between+Living+in+New+York+and+San+Francisco%C2%A0%7C%C2%A0Sarah+Cooper.pdf"><button type= "button" class="btn btn -success btn-xs">DOWNLOAD</button></a>